<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunkl.hometoolsserver.mapper.ToolsModelConfigMapper" >
  <resultMap id="BaseResultMap" type="com.sunkl.hometoolsserver.dao.ToolsModelConfig" >
    <id column="tools_id" property="toolsId" jdbcType="INTEGER" />
    <result column="tools_code" property="toolsCode" jdbcType="VARCHAR" />
    <result column="tools_name" property="toolsName" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    tools_id, tools_code, tools_name, update_time, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sunkl.hometoolsserver.dao.ToolsModelConfigExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tools_model_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tools_model_config
    where tools_id = #{toolsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tools_model_config
    where tools_id = #{toolsId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sunkl.hometoolsserver.dao.ToolsModelConfigExample" >
    delete from tools_model_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sunkl.hometoolsserver.dao.ToolsModelConfig" >
    insert into tools_model_config (tools_id, tools_code, tools_name, 
      update_time, create_time)
    values (#{toolsId,jdbcType=INTEGER}, #{toolsCode,jdbcType=VARCHAR}, #{toolsName,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sunkl.hometoolsserver.dao.ToolsModelConfig" >
    insert into tools_model_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="toolsId != null" >
        tools_id,
      </if>
      <if test="toolsCode != null" >
        tools_code,
      </if>
      <if test="toolsName != null" >
        tools_name,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="toolsId != null" >
        #{toolsId,jdbcType=INTEGER},
      </if>
      <if test="toolsCode != null" >
        #{toolsCode,jdbcType=VARCHAR},
      </if>
      <if test="toolsName != null" >
        #{toolsName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sunkl.hometoolsserver.dao.ToolsModelConfigExample" resultType="java.lang.Integer" >
    select count(*) from tools_model_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tools_model_config
    <set >
      <if test="record.toolsId != null" >
        tools_id = #{record.toolsId,jdbcType=INTEGER},
      </if>
      <if test="record.toolsCode != null" >
        tools_code = #{record.toolsCode,jdbcType=VARCHAR},
      </if>
      <if test="record.toolsName != null" >
        tools_name = #{record.toolsName,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tools_model_config
    set tools_id = #{record.toolsId,jdbcType=INTEGER},
      tools_code = #{record.toolsCode,jdbcType=VARCHAR},
      tools_name = #{record.toolsName,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sunkl.hometoolsserver.dao.ToolsModelConfig" >
    update tools_model_config
    <set >
      <if test="toolsCode != null" >
        tools_code = #{toolsCode,jdbcType=VARCHAR},
      </if>
      <if test="toolsName != null" >
        tools_name = #{toolsName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
    </set>
    where tools_id = #{toolsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sunkl.hometoolsserver.dao.ToolsModelConfig" >
    update tools_model_config
    set tools_code = #{toolsCode,jdbcType=VARCHAR},
      tools_name = #{toolsName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR}
    where tools_id = #{toolsId,jdbcType=INTEGER}
  </update>
</mapper>